<section class="acerca">
	<h2 class="titulos">Nuestra razón de ser</h2>
	{{#each nosotros}}
		<div class="contenedor">
			<div class="contenido">
				<p>{{parafo1}}</p>
				<h4>{{titulos}}</h4>
				<hr />
				<p>{{parrafo2}}</p></div>
			<img src={{img}} alt={{alt}} />
		</div>
	{{/each}}
</section>